@{
}
@model Application.ViewModel.CalcPrestamosViewModel;

<div class="col-12 d-flex justify-content-center">
    <div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">Monto @Model.montoPrestamo</h5>
    <h5 class="card-title">Meses @Model.cuotasMensuales</h5>
    <h5 class="card-title">Cuotas a pagar mensual @Model.cuotaAPagarMensual</h5>

    <a asp-controller="App" asp-action="CalPrestamos" class="btn btn-primary">Calcular nuevo prestamo</a>
  </div>
</div>
</div>
