@{
}
<section class="col-10 d-flex container-fluid justify-content-center" style="border: 1px solid red;">
    <div class="w-50 d-flex " style="border: 1px solid #fff;">
        <h1 class="text-white">CalculXadora de </h1>
    </div>
</section>