@{
}
@model Application.ViewModel.ConversionViewModel;

<section class="col-12 d-flex container-fluid justify-content-center">
    <div class="monedas-form d-flex flex-column align-items-center">
        <h1 class="text-white text-center w-100">Conversor de Monedas</h1>
        <div class="mt-3 w-100 d-flex justify-content-center">
            <form class="w-100 monedas-form" method="post" asp-controller="App" asp-action="Conversion">
                <div class="mb-3 w-100 d-flex justify-content-between">
                    <input asp-for="cantidadAConvertir" required type="number" step="any" class="form-control calP-font text-white" id="monedaInicial" placeholder="1" style="width: 48%; background-color: #181A1B;">
                      <select asp-for="monedaInicial" required class="form-select calP-font" id="tipoP" style="width: 48%; background-color: #181A1B; color: #fff">
                        <option value="1">Dolar</option>
                        <option value="2">Euro</option>
                        <option value="3">Peso</option>
                    </select>
                </div>
                <div class="mb-3 w-100 d-flex justify-content-between">
                    <input value="@ViewBag.resultado" required disabled type="number" class="form-control calP-font text-white" placeholder="Resultado" id="monedaFinal" style="width: 48%; background-color: #181A1B;">
                      <select asp-for="monedaFinal" required class="form-select calP-font" id="tipoP" style="width: 48%; background-color: #181A1B; color: #fff;">
                        <option value="1">Peso dominicano</option>
                        <option value="2">Euro</option>
                        <option value="3">Dolar</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Convertir</button>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <script>



    </script>
}
